h1{
    font-family: impact;
    padding-left: 399px;
}

hr{
    width: 50%;
    height: 2px;
    background-color: black;
}
image{
    width: 50%;
    height: auto;
    padding-left: 399;
    padding-top: 10px;

}

.one{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    padding-left: 399px;
}

.date{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #888;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 399px;
    padding-right: 450px;
}

p{
    font-family: Times, serif, sans-serif;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-top: 10px;
    padding-left: 399px;
    padding-right: 450px;
}